<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyecto1.milsabores">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Milsabores">

        <!-- Actividad principal -->
        <activity
            android:name=".view.InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades secundarias -->
        <activity android:name=".view.FormularioActivity" android:exported="true" />
        <activity android:name=".view.ListaProductosActivity" android:exported="true" />
        <activity android:name=".view.AgregarProductoActivity" android:exported="true" />

        <!-- Nuevas pantallas -->
        <activity android:name=".view.ClimaActivity" android:exported="true" />
        <activity android:name=".view.MealActivity" android:exported="true" />

    </application>

</manifest>
